h1{
    color: aquamarine;
}
*{
    border: solid;
}

h3{
    color: chartreuse;
}

.Lewis{
    background-color: aqua;
    display: flex;
    justify-content: center;
}

.bottas{
    background-color: peru;
    display: flex;
    justify-content: center;
}

body{
    background-color:rgb(100,150,255);
}